.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  > div {
    background: lightgrey;
    display: flex;
    flex-direction: column;
    > div {
      background: teal;

      border: 1px solid black;
      width: 18vw;
      height: 18vh;
      margin: 2px;
      transition: background 1s ease;
      &.not-running {
        transition: background 0.2s ease;
      }
    }
  }

  .options {
    position: absolute;
    visibility: visible;
    width: 75vw;
    height: 75vh;
    textarea {
      height: 10vh;
    }
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
